* {
    list-style-type: none;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidenav {
    position: fixed;
    top: 126px;
    left: 0;
}

nav .btn {
    transition: all 100ms ease-in-out;
}

nav .btn:hover {
    transform: scale(.95);
}